 .container {
    font-family: 'Times New Roman', Times, serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

.first-section {
    background-color: #1F2937;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 620px;
}

.header-left {
    font-size: 24px;
    color: #F9FAF8;
}

.header-right {
    font-size: 18px;
    color: #E5E7EB;
}

.main-left {
    display: flex;
    flex-direction: column;
    width: 50%;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.main-sub {
    color: #E5E7EB;
}

button {
    width: 100px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border-radius: 25px;
    border-color: #3882F6;
}

img {
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 300px;
    margin-right: 50px;
}

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
